body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }

.cree{
color: rgb(255, 255, 255);
}

body{
  background-image:url(../img/bg02.png);
  background-color: rgb(230, 230, 230);
}

.logo{
  width: 140px;
}
