 .hg {
      height: 100%;
    }
    .imaget {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }

.cree{
color: rgb(255, 255, 255);
}
/*Se le coloca el backgroun y color al fondo de el login*/
.p1{
  background-image:url(../img/bg02.png);
  background-color: rgb(230, 230, 230);
}
/*Tamaño de el Logo de el login*/
.logo{
  width: 140px;
}
/*Se le da tamaño, margenes y color  a la barra de el final de la pantalla para su diseño*/
.contenedor-div{
  margin-left:-15px;
    	position:relative;
      width: 900px;
      background-color: rgb(2, 210, 161);
      bottom:-30px;
      height: 59px;


}
.mi-imagen-abajo-derecha{
    position:absolute;
    bottom:-100px;
    right:10px;
}

.caja2{
  margin-top:40px;
}

.titulo2{
  margin-top: 100px;
}


/*Quitar bordes dela cabecera de la tabla*/
.sb{
text-align: center;
  padding: 300px;
}



/*Pantalla de tareas*/
/*estilos de barra de busqueda*/
.search{
  display: flex;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 5px;

}



/*estilos Menu Horizontal*/
.menbar{
  width: 400px;
  display:flex;
margin-left: 200px;
margin-top: -40px;
}

/*Estilos Botones*/
.bot1{
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}



/* <<<<<<Estilos de Pantalla de agregar producto>>>>>> */
/* Formulario */
.fm2{
  text-align: center;
}





/* Estilos soporte */

.rigtt{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;

}

.centflex{
  display: flex;
  justify-content: center;
  margin-top: -30px;
}

.errr{
  color: rgb(255, 93, 88);
}
